<section id="header" [ngClass]="{ 'sticky': isSticky }">
  <div class="header">
    <div class="overlay" *ngIf="loginPopup || signUpPopup"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div>
          <img class="navbar-brand" routerLink="/" src="../../../assets/tastebuds.png">
        </div>
        <div class="location">
          <h6 *ngIf="locationData"><span><i class="fa-solid fa-location-dot">&nbsp;</i></span>{{locationData.place +', '+ locationData.state}}</h6>
          <span *ngIf="!locationData"><i class="fa-solid fa-location-dot" (click)="getLocation()"></i></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 account">
            <li class="nav-item" *ngIf="userIsAuthenticated">
              <a class="nav-link" routerLink='/cart'>Cart</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 account">
            <li class="nav-item" *ngIf="!userIsAuthenticated">
              <a class="nav-link" (click)="openLoginPopup()">Login</a>
            </li>
            <li class="nav-item" *ngIf="!userIsAuthenticated">
              <a class="nav-link" (click)="openSignUpPopup()">SignUp</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
              <a class="nav-link" routerLink="/profile">My Account</a>
            </li>
            <li class="nav-item" *ngIf="userIsAuthenticated">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="login" *ngIf="loginPopup">
      <span class="close"><i class="fa-solid fa-circle-xmark" (click)="closePopup()" routerLink="/"></i></span>
      <app-login></app-login>
    </div>
    <div class="signUp" *ngIf="signUpPopup">
      <span class="close"><i class="fa-solid fa-circle-xmark" (click)="closePopup()" routerLink="/"></i></span>
      <app-signup></app-signup>
    </div>
  </div>
</section>
