<section id="banner">
  <div class="banner">
    <div class="banner-images">
      <img src="../../../assets/pizza.png" alt="" class="pizza-image">
      <img src="../../../assets/burger.png" alt="" class="burger-image">
      <img src="../../../assets/steak.png" alt="" class="steak-image">
    </div>
    <div class="row banner-name">
      <h1 class="text-center"><span class="taste">Taste</span><span class="buds">Buds</span></h1>
    </div>
    <div class="row caption">
      <h2>"Indulge Your Palate: Tastebuds - Where Flavor Meets Convenience"</h2>
    </div>
  </div>
</section>
