.list-group-item{
  height: 60px;
  cursor: pointer;
}
.list-group-item:hover{
  background-color: lightgray;
}
.list-group-item i{
  font-size: 25px;
  color: #E84242;
  margin-right: 5px;
}
.list-group-item p{

}
