<app-banner></app-banner>
<section id="home">
  <div class="home">
    <div class="container">
      <div class="row" id="top-items">
        <div class="mt-5 mb-5">
          <h1 class="text-center">Bestsellers</h1>
        </div>
        <div class="card">
          <div class="image">
            <div class="bg-colour">
            </div>
            <img src="../../../assets/top-items/fishsalad.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="card-title">Salmon Salad</h5>
            </div>
            <div class="rating">
              <app-tb-rating></app-tb-rating>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices leo vitae posuere volutpat.
              </p>
            </div>
            <div class="row">
              <div class="price col-md-6">
                <h3>Rs.450</h3>
              </div>
              <div class="addtocart col-md-6">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <div class="bg-colour">
            </div>
            <img src="../../../assets/top-items/burger.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="card-title">Chicken Zinger Burger</h5>
            </div>
            <div class="rating">
              <app-tb-rating></app-tb-rating>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices leo vitae posuere volutpat.
              </p>
            </div>
            <div class="row">
              <div class="price col-md-6">
                <h3>Rs.450</h3>
              </div>
              <div class="addtocart col-md-6">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <div class="bg-colour">
            </div>
            <img src="../../../assets/top-items/eggbacon.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="card-title">Egg, Bacon And Bread</h5>
            </div>
            <div class="rating">
              <app-tb-rating></app-tb-rating>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices leo vitae posuere volutpat.
              </p>
            </div>
            <div class="row">
              <div class="price col-md-6">
                <h3>Rs.450</h3>
              </div>
              <div class="addtocart col-md-6">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <div class="bg-colour">
            </div>
            <img src="../../../assets/top-items/pasta.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="card-title">Bucatini Pasta</h5>
            </div>
            <div class="rating">
              <app-tb-rating></app-tb-rating>
            </div>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices leo vitae posuere volutpat.
              </p>
            </div>
            <div class="row">
              <div class="price col-md-6">
                <h3>Rs.450</h3>
              </div>
              <div class="addtocart col-md-6">
                <i class="fa-solid fa-circle-plus"></i>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="svg-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 50 1440 150">
        <path fill="#E2F1F4" fill-opacity="1" d="M0,100L48,105.3C96,111,192,121,288,137.3C384,153,480,175,576,174.7C672,175,768,153,864,132C960,111,1056,89,1152,89.3C1248,89,1344,111,1392,121.3L1440,132L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
    </div>
    <div class="row" id="trending">
      <div class="carousel slide" data-bs-ride="carousel" id="carousal-div">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousal-div" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousal-div" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousal-div" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-content">
              <div class="heading">
                <h1>
                  <span class="block-line">Best Burger</span>
                  <span class="block-line">in Town</span>
                </h1>
              </div>
              <div class="price">
                <div class="add-box">
                  <div class="row">
                    <div class="price-trending col-md-6">
                      <h3>Rs.450</h3>
                      <p>Limited Offer</p>
                    </div>
                    <div class="add col-md-6">
                      <i class="fa-solid fa-circle-plus"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="../../../assets/trending1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-content">
              <div class="heading">
                <h1>
                  <span class="block-line">Best Burger</span>
                  <span class="block-line">in Town</span>
                </h1>
              </div>
              <div class="price">
                <div class="add-box">
                  <div class="row">
                    <div class="price-trending col-md-6">
                      <h3>Rs.450</h3>
                      <p>Limited Offer</p>
                    </div>
                    <div class="add col-md-6">
                      <i class="fa-solid fa-circle-plus"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="../../../assets/trending1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-content">
              <div class="heading">
                <h1>
                  <span class="block-line">Best Burger</span>
                  <span class="block-line">in Town</span>
                </h1>
              </div>
              <div class="price">
                <div class="add-box">
                  <div class="row">
                    <div class="price-trending col-md-6">
                      <h3>Rs.450</h3>
                      <p>Limited Offer</p>
                    </div>
                    <div class="add col-md-6">
                      <i class="fa-solid fa-circle-plus"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="../../../assets/trending1.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" href="#carousal-div" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" href="#carousal-div" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
